* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "JetBrains Mono", FontAwesome, sans-serif;
    font-size: 14px;
}

window#waybar {
    background-color: rgba(40, 42, 54, 0.75);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

box.horizontal {
    margin: 2px 4px;
}

#workspaces button {
    padding: 0 0px;
    background-color: #6272a4;
    color: #ffffff;
    /* Avoid rounded borders under each workspace name */
    border: none;
    border-radius: 0;
    margin: 0;

    transition-property: background-color, color;
    transition-duration: 200ms;
}

#workspaces button:first-child {
    border-radius: 9999px 0 0 9999px;
}

#workspaces button:last-child {
    border-radius: 0 9999px 9999px 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
}

#workspaces button.focused {
    background-color: #8be9fd;
    color: #6272a4;
}

#workspaces button.urgent {
    background-color: #ffb86c;
}

#mode {
    background-color: #f1fa8c;
    color: #282a36;
    border-radius: 9999px;
}

#custom-launcher {
    color: #bd93f9;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd,
#language,
#custom-launcher,
#custom-spotify {
    padding: 0 10px;
    border-radius: 9999px;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock:only-child {
    font-weight: bold;
}

#battery {
    background-color: #ffffff;
    color: #000000;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #44475a;
    color: #f1fa8c;
}

#memory {
    background-color: #44475a;
    color: #ff79c6;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    color: #f1fa8c;
    background-color: #44475a;
}

#network.disconnected {
    background-color: #ff5555;
    color: #f8f8f2;
}

#pulseaudio {
    background-color: #44475a;
    color: #ffb86c;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#custom-spotify {
    background-color: #44475a;
    color: #50fa7b;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #6272a4;
    margin: 0;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #44475a;
}

#idle_inhibitor.activated {
    background-color: #f8f8f2;
    color: #282a36;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background-color: #44475a;
    color: #8be9fd;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}
